﻿@model LiteCommerce.DomainModels.Employee
@{
    ViewBag.Title = "Delete";
}


<form class="form-horizontal" method="post" action="~/Employee/Delete/@Model.EmployeeID">
    <div class="form-group">
        <label class="control-label col-sm-2">LastName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.LastName</p>
        </div>

        <label class="control-label col-sm-2">FirstName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.FirstName</p>
        </div>

        <label class="control-label col-sm-2">BirthDate:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.BirthDate</p>
        </div>

        <label class="control-label col-sm-2">Photo:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Photo</p>
        </div>
        <label class="control-label col-sm-2">Notes:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Notes</p>
        </div>

        <label class="control-label col-sm-2">Email:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Email</p>
        </div>
        <label class="control-label col-sm-2">Password:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Password</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa nhân viên này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Employee/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form></form>
