﻿@model LiteCommerce.DomainModels.Employee



<form method="post" action="~/Employee/Save">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(m => m.EmployeeID)
<div class="form-group">
    <label>LastName:</label>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @autofocus = "autofocus" })
    @Html.ValidationMessageFor(m => m.LastName)
</div>
<div class="form-group">
    <label>FirstName:</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FirstName)
    @*<input type="text" class="form-control" name="FirstName" id="FirstName">*@
</div>
<div class="form-group">
    <label>BirthDate:</label>
    @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
    @*<input type="text" class="form-control" name="BirthDate" id="BirthDate">*@
</div>
<div class="form-group">
    <label>Photo:</label>
    @Html.TextBoxFor(m => m.Photo, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Notes:</label>
    @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
</div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Password:</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Employee/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>


