﻿
@model LiteCommerce.Admin.Models.EmployeePaginationQueryResult

@{
    ViewBag.Title = "Quản lý Nhân viên";
}

<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form method="get" action="~/Employee/Index">
        <div class="input-group">
            <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="@Model.SearchValue">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="text-left">
        <p>Có tất cả <strong>@Model.RowCount</strong> nhân viên. Bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang.</p>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    <p>Photo</p>
                </th>
                <th>
                    <p>Họ</p>
                </th>
                <th>
                    <p>Tên</p>
                </th>
                <th>
                    <p>Ngày sinh</p>
                </th>
                <th>
                    <p>Ghi chú</p>
                </th>
                <th>
                    <p>Email</p>
                </th>
                <th>
                    <p>Mật khẩu</p>
                </th>
                <th class="text-right">
                    <a href="~/Employee/Add" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <img width="200px" src="@Html.DisplayFor(modelItem => item.Photo)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td class="text-right">
                        <a href="~/Employee/Edit/@item.EmployeeID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a href="~/Employee/Delete/@item.EmployeeID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">&lt;&lt;</a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active"><a href="#">@i</a></li>
                }
                else
                {
                    <li><a href="~/Employee/Index?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                }
            }
            <li><a href="#">&gt;&gt;</a></li>
        </ul>
    </div>
</div>
