﻿@model LiteCommerce.DomainModels.Category
@{
    ViewBag.Title = "Delete";
}


<form class="form-horizontal" method="post" action="~/Category/Delete/@Model.CategoryID">
    <div class="form-group">
        <label class="control-label col-sm-2">CategoryName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.CategoryName</p>
        </div>

        <label class="control-label col-sm-2">Description:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Description</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa loại hàng này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Category/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form></form>
