﻿@model LiteCommerce.DomainModels.Category


<form method="post" action="~/Category/Save">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(m => m.CategoryID)
    <div class="form-group">
        <label>CategoryName:</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.CategoryName)

        @*<input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus>*@
    </div>
    <div class="form-group">
        <label>Description:</label>
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="Description" id="Description">*@
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Category/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>


