﻿@model LiteCommerce.Admin.Models.CategoryPaginationQueryResult


@{ ViewBag.Title = "Quản lý loại hàng";
}
<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form method="get" action="~/Category/Index">
        <div class="input-group">
            <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="@Model.SearchValue">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Danh sách loại hàng -->
<div class="container-fluid">
    <div class="text-left">
        <p>Có tất cả <strong>@Model.RowCount</strong> loại hàng. Bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang.</p>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>CategoryName</th>
                <th>Description</th>
              @*<th>ParentCategoryId</th>*@
                <th class="text-right">
                    <a href="~/Category/Add" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    @*<td>@item.ParentCategoryId</td>*@
                    <td class="text-right">
                        <a href="~/Category/Edit/@item.CategoryID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Category/Delete/@item.CategoryID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">&lt;&lt;</a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active"><a href="#">@i</a></li>
                }
                else
                {
                    <li><a href="~/Category/Index?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                }
            }
            <li><a href="#">&gt;&gt;</a></li>
        </ul>
    </div>
</div>
