﻿
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
       @*<div class="user-panel">
            <div class="pull-left image">
                <img src="~/Themes/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
             <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>*@
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Trang Chủ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                @*<ul class="treeview-menu">
                    <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>*@
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Quản Lý Dữ Liệu</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">5</span>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="/Category"><i class="fa fa-circle-o"></i> Loại Hàng</a></li>
                    <li><a href="/Supplier"><i class="fa fa-circle-o"></i> Nhà Cung Cấp</a></li>
                    <li><a href="/Shipper"><i class="fa fa-circle-o"></i> Nhà Vận Chuyển</a></li>
                    <li><a href="/Customer"><i class="fa fa-circle-o"></i> Khách Hàng</a></li>
                    <li><a href="/Employee"><i class="fa fa-circle-o"></i> Nhân Viên</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>Quản Lý Hàng Hóa</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                    </span>
                </a>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Bán Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Tạo Đơn Hàng</a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Xử Lý Đơn Hàng</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Tra Cứu Đơn Hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Thống Kê-Báo Cáo</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Doanh Thu Bán Hàng</a></li>
                </ul>
            </li>
          
           
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>