﻿@model LiteCommerce.DomainModels.Customer
@{
    ViewBag.Title = "Delete";
}


<form class="form-horizontal" method="post" action="~/Customer/Delete/@Model.CustomerID">
    <div class="form-group">
        <label class="control-label col-sm-2">CustomerName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.CustomerName</p>
        </div>

        <label class="control-label col-sm-2">ContactName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.ContactName</p>
        </div>

        <label class="control-label col-sm-2">Address:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Address</p>
        </div>

        <label class="control-label col-sm-2">City:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.City</p>
        </div>
        <label class="control-label col-sm-2">Country:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Country</p>
        </div>
        <label class="control-label col-sm-2">PostalCode:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.PostalCode</p>
        </div>


        <label class="control-label col-sm-2">Email:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Email</p>
        </div>
        <label class="control-label col-sm-2">Password:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Password</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa khách hàng này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Customer/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form></form>
