﻿@model LiteCommerce.DomainModels.Customer



<form method="post" action="~/Customer/Save">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(m => m.CustomerID)
    <div class="form-group">
        <label>CustomerName:</label>
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.CustomerName)
        @*<input type="text" class="form-control" name="CustomerName" id="CustomerName" autofocus>*@
    </div>
    <div class="form-group">
        <label>ContactName:</label>
        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactName)
        @*<input type="text" class="form-control" name="ContactName" id="ContactNamee">*@
    </div>
    <div class="form-group">
        <label>Address:</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="Address" id="Address">*@
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Country:</label>
                @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>City:</label>
                @Html.DropDownListFor(m => m.City, SelectListHelper.Cities(), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>PostalCode:</label>
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Password:</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Customer/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>


