﻿@model LiteCommerce.Admin.Models.CustomerPaginationQueryResult


@{ ViewBag.Title = "Quản lý Khách Hàng";
}
<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form method="get" action="~/Customer/Index">
        <div class="input-group">
            <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="@Model.SearchValue">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Danh sách nhà cung cấp -->
<div class="container-fluid">
    <div class="text-left">
        <p>Có tất cả <strong>@Model.RowCount </strong> nhà cung cấp. Bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang.</p>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>CustomerName</th>
                <th>ContactName</th>
                <th>Address</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>Email</th>
                <th>Password</th>
                <th class="text-right">
                    <a href="~/Customer/Add" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Address</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Email</td>
                    <td>@item.Password</td>
                    <td class="text-right">
                        <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">&lt;&lt;</a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active"><a href="#">@i</a></li>
                }
                else
                {
                    <li><a href="~/Customer/Index?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                }
            }
            <li><a href="#">&gt;&gt;</a></li>
        </ul>
    </div>
</div>
