﻿@model LiteCommerce.DomainModels.Shipper
@{
    ViewBag.Title = "Delete";
}


<form class="form-horizontal" method="post" action="~/Shipper/Delete/@Model.ShipperID">
    <div class="form-group">
        <label class="control-label col-sm-2">ShipperName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.ShipperName</p>
        </div>
        <label class="control-label col-sm-2">Phone:</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Phone</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa nhà vận chuyển này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Shipper/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form></form>
