﻿@model LiteCommerce.DomainModels.Shipper



<form method="post" action="~/Shipper/Save">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(m => m.ShipperID)
    <div class="form-group">
        <label>ShipperName:</label>
        @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.ShipperName)

        @*<input type="text" class="form-control" name="ShipperName" id="ShipperName" autofocus>*@
    </div>
    <div class="form-group">
        <label>Phone:</label>
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

        @*<input type="text" class="form-control" name="Phone" id="Phone">*@
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Shipper/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>


